$primary-color: #0F67A2;
$primary-color-hover: #138BDB;
$secondary-color: #dceeff;

$high-supply: #32a89d;
$high-supply-secondary: #32a89d;
$medium-supply: #f5d660;
$medium-supply-secondary: #f5d660;
$low-supply: #ec875c;
$low-supply-secondary: #ec875c;
$public-suuply: #a5adb3;

$background-1: #fff;
$background-2: #fafbfb;
$background-3: #f2f5f8;

$border-color: #d5dee5;

$text-color: #35383b;
$text-light-color: #757d82;

$error: #af2837;

$grid-gutter: 30px;

$small-mobile: 450px;
$mobile: 719px;
$tablet: 959px;
$tablet-large: 1023px;
